:root {
    --main-ranking-color: #ffa56c;
    --btn-color: #F9E4D4;
    --text-color: #232300;
    --border-color: #e7650d;
}

.ranking {
    position: absolute;
    padding: 0.75rem 1rem;
    top: -30.5rem;
    right: 3rem;
    width: 20rem;
    height: 30rem;
    background-color: var(--main-ranking-color);
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
    box-shadow: 0px 0px 15px #00000085;
}

.btn-ranking {
    position: absolute;
    bottom: -2.5rem;
    right: 1rem;
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

.btn-ranking-transition {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.btn-clear-ranking{
    width: 100%;
    margin:0.5rem 0;
    border: 1px solid var(--btn-color);
    border-radius: 10px;
}

.ranking-hidden {
    transform: translateY(0%);
}

.table-div {
    height: 100%;
    overflow: auto;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
}

th,
td {
    text-align: center;
    padding: .3rem;
}

.table-div::-webkit-scrollbar {
    width: 0rem;
}

@media only screen and (max-width: 768px) {
    .ranking {
        width: 100%;
        right: 0;
    }

    .btn-ranking {
        position: absolute;
        right: 1rem;
        background-color: var(--btn-color);
    }
}
